<template>
  <div v-if="restaurant">
    <RestaurantDescription
      :name="restaurant.name"
      :description="restaurant.description"
    />
    <h3>I nostri ristoranti</h3>

    <router-link
      v-for="restaurantLocation in restaurant.locations"
      :key="restaurantLocation.id"
      :to="{
        name: 'restaurant-location',
        params: { id: restaurantLocation.id }
      }"
    >
      Ristorante {{ restaurantLocation.id }}
    </router-link>
    <router-view />
  </div>
</template>

<script>
import RestaurantDescription from '@/components/RestaurantDescription.vue';

export default {
  name: 'Restaurant',
  components: {
    RestaurantDescription
  },
  props: ['slug'],
  computed: {
    restaurant() {
      return this.$store.getters.getRestaurantBySlug(this.slug);
    }
  }
};
</script>

<style scoped>
a {
  padding: 1rem;
  text-decoration: none;
}

a.active {
  color: #42b983;
  text-decoration: underline;
}
</style>
