<template>
  <div v-if="location">
    <RestaurantAddress :address="location.address" :rating="location.rating" />
  </div>
</template>

<script>
import RestaurantAddress from '@/components/RestaurantAddress.vue';

export default {
  name: 'RestaurantLocation',
  components: {
    RestaurantAddress
  },
  props: ['slug', 'id'],
  computed: {
    location() {
      return this.$store.getters.getRestaurantLocationById({
        slug: this.slug,
        id: this.id
      });
    }
  }
};
</script>
