<template>
  <div class="restaurants">
    <h1>Restaurants</h1>
    <div v-for="restaurant in restaurants" :key="restaurant.id">
      <h2>{{ restaurant.name }}</h2>
      <router-link
        :to="{ name: 'restaurant', params: { slug: restaurant.slug } }"
        >Dettagli</router-link
      >
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Restaurants',
  computed: mapState(['restaurants'])
};
</script>
