<template>
  <div class="restaurant-description">
    <h2>{{ name }}</h2>
    <p>{{ description }}</p>
  </div>
</template>

<script>
export default {
  name: 'RestaurantDescription',
  props: {
    name: {
      type: String,
      required: true
    },
    description: {
      type: String,
      required: true
    }
  }
};
</script>
