<template>
  <div class="restaurant-address">
    <address>
      {{ address }}
    </address>
    <div>
      valutazione <strong>{{ rating }}</strong>
      /5
    </div>
  </div>
</template>

<script>
export default {
  name: 'RestaurantAddress',
  props: {
    address: {
      type: String,
      required: true
    },
    rating: {
      type: Number
    }
  }
};
</script>
