<template>
  <div id="app">
    <nav id="nav">
      <router-link to="/ristoranti">Ristoranti</router-link> |
      <router-link to="/chi-siamo">Chi Siamo</router-link>
    </nav>
    <transition name="fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>

<script>
export default {
  name: 'App',
  created() {
    this.$store.dispatch('getAllRestaurants');
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
}

#nav a.active {
  color: #42b983;
  text-decoration: underline;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
